<!DOCTYPE html>
<html>
<head>
	<script src="/compiled/index.js"></script>
</head>
<body>
	quicksync
	<br /><a href="/auth/youtube">Youtube</a>
	<br /><a href="/auth/soundcloud">Soundcloud</a>
</body>
</html>