{{#contentFor 'head'}}
<title>{{room.name}}</title>
<link rel="stylesheet" href="/compiled/index.css" />
<script>{{{javascript}}}</script>
<script src="/compiled/room.js"></script>
{{/contentFor}}

{{#contentFor 'page'}}room{{/contentFor}}
{{#user}}
<div id="user-menu"></div>
{{/user}}
<div id="search"></div>
<div id="app">
	<div id="title"></div>
	{{#room.private}}<div id="privacy">This room is private</div>{{/room.private}}
	<div id="users"></div>
	<div id="social">
		<div id="chat"></div>
	</div>
	<div id="media">
		<div id="player"></div>
		<div id="playlist"></div>
	</div>
</div>
