<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/compiled/index.css" />
	{{#dev}}<script src="http://localhost:35729/livereload.js"></script>{{/dev}}
	<script>{{{javascript}}}</script>
	<script src="/compiled/room.js"></script>
</head>
<body>
	<h1>{{room.id}}</h1>
	<div id="users"></div>
	<div id="chat"></div>
	<div id="player"></div>
	<div id="playlist"></div>
</body>
</html>