{{#contentFor 'head'}}
<title>{{room.name}}</title>
<link rel="stylesheet" href="/compiled/index.css" />
{{#dev}}<script src="http://localhost:35729/livereload.js"></script>{{/dev}}
<script>{{{javascript}}}</script>
<script src="/compiled/room.js"></script>
{{/contentFor}}

{{#contentFor 'page'}}room{{/contentFor}}
{{#user}}
<div id="user-menu"></div>
{{/user}}
<div id="search"></div>
<div id="app">
	<h1 id="title">{{room.name}}</h1>
	<div id="users"></div>
	<div id="social">
		<div id="chat"></div>
	</div>
	<div id="media">
		<div id="player"></div>
		<div id="playlist"></div>
	</div>
</div>
