.keyframes(~'slidein, 0% { margin-top: -10px; opacity: 0; } 100% { margin-top: 0; opacity: 1; }');

#chat {

	form {
		margin: 10px;
	}

	/* ensure chat textarea fills parent width */
	textarea,
	.textcomplete-wrapper {
		width: 100%;
	}

	ul.messages {
		.list-reset;
		padding: 5px;

		> li {
			.animation( slidein 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94) );
			clear: both;
			padding: 5px;
		}

		li.chat {

			div.content {
				padding-top: 7px;

				> p {
					margin: 0;
					padding: 1px 0 2px 0;
					.animation( slidein 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94) );
				}
			}
		}

		li.emote {
			font-style: italic;
		}

		li.play {
			padding: 10px 5px;

			h3 {
				margin: 2px 0;
			}

			span.image {
				float: left;
				margin-right: 10px
			}
		}

	}

}