@white: rgb( 255, 255, 255 );
@lightgray: rgb( 220, 220, 220 );
@gray: rgb( 175, 175, 175 );
@notblack: rgb( 20, 20, 20 );
@black: rgb( 50, 50, 50 );
@heartred: rgb( 255, 75, 75 );
@blue: rgb( 0, 135, 255 );
@shadow: rgba( 0, 0, 0, 0.25 );