body {
	font-family: Lato, sans-serif;
}

@blue: rgb( 0, 135, 255 );

a {
	color: @blue;
	text-decoration: none;

	&:hover,
	&:hover:visited {
		color: darken( @blue, 20% );
	}

	&:visited {
		color: desaturate( lighten( @blue, 15% ), 40% );
	}
}

textarea,
input[type="text"],
input[type="search"] {
	border: #ccc 2px solid;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;

	&:focus {
		outline: none;
		border-color: @blue;
	}
}