html {
	font: 14px/21px sans-serif;

	background: @background-color;
	color: @text-color;
}

a {
	color: @blue;
	text-decoration: none;

	&:hover,
	&:hover:visited {
		color: darken( @blue, 20% );
	}

	&:visited {
		color: desaturate( lighten( @blue, 15% ), 40% );
	}
}

textarea,
input[type="text"],
input[type="search"] {
	.box-sizing( border-box );
	.shadow-inset-level-1;
	.transition( background-color 375ms ease );
	outline: none;
	border: none;
	padding: 7px 9px;
	background: @input-background-color;

	&:hover,
	&:focus {
		.transition( background-color 125ms ease );
		background: @input-active-background-color;
	}
}

button {
	.transition( background-color 375ms ease );
	padding: 7px 9px;
	outline: none;
	border: none;
	font-weight: bold;
	color: @white;
	background: @orange;

	&:hover {
		.transition( background-color 125ms ease );
		background: lighten( @orange, 10% );
	}

	&:active {
		.transition( background-color 0 ease );
		background: lighten( @orange, 20% );
	}
}

.emoji {
	width: 20px;
	height: 20px;
	margin: 0;
	vertical-align: middle;
}

.image,
.avatar {
	.shadow-level-1;
	.border-radius( 50% );
	background-color: @black;
}

.image {
	border: @notblack 4px solid;
}

.avatar {
	width: 30px;
	height: 30px;
	margin: 0;
	vertical-align: middle;
	border: @card-background-color 2px solid;
}

/* jquery.textcomplete styles */
.textcomplete-wrapper {

	.dropdown-menu {
		min-width: 150px;
		background-color: @white;
		border-radius: 5px;
		box-shadow: @shadow 0 2px 4px;

		> li {
			padding: 0;

			&:first-child {
				border-top: none;
			}

			&:hover,
			&.active {
				background-color: @blue;

				> a {
					color: @white;
				}
			}

			> a {
				display: block;
				border-top: 1px solid @lightgray;
				padding: 4px 8px;
				color: @black;
			}

			img {
				margin-right: 5px;
			}
		}
	}
}
