#players {

	position: relative;

	> div {
		position: absolute !important;
		width: 100% !important;
		height: 100% !important;
	}

	img.aspect {
		display: block;
		width: 100%;
	}
}

#player {
	.shadow-level-1;
	position: relative;
	overflow: hidden;
	color: rgba( 255, 255, 255, 0.65 );
	background: @notblack;

	&.empty {
		#players {
			.empty {
				display: block;
			}
		}

		.progress {
			display: none;
		}
	}

	a {
		color: rgba( 255, 255, 255, 0.9 );
		&:hover {
			color: rgba( 255, 255, 255, 1 );
		}
	}

	/* place everything above the "cover" element */
	.meta {
		position: relative;

		> * {
			position: relative;
			z-index: 3;
		}

		.cover {
			.blur( 5px );
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			z-index: 2;
			opacity: 0.175;
			background-size: cover;
			background-position: center center;
		}
	}

	.empty {
		z-index: 5;
		display: none;
		background: black;
		color: @lightgray;

		.message {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 350px;
			height: 45px;
			margin: -22px 0 0 -175px;
			text-align: center;
		}
	}

	.progress {
		.box-sizing(border-box);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;

		.times {
			position: absolute;
			bottom: 10px;
			right: 15px;

			.elapsed {
				font-size: 75%;
				font-style: normal;
				font-weight: bold;
				color: rgba( 255, 255, 255, 0.9 );
			}

			.duration {
				font-size: 75%;
				font-style: normal;
			}
		}

		> div.bars {
			width: 100%;
			height: 100%;

			> * {
				position: absolute;
			}

			> var.elapsed {
				.shadow-level-3;
				.background-image(linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 48%, rgba(255,255,255,0.2) 100%));
				display: block;
				z-index: 3;
				height: 100%;
				background-color: rgba( 255, 255, 255, 0.1 );
			}

			> span.duration {
				display: block;
				z-index: 1;
				width: 100%;
			}
		}

		&:after {
			content: '';
			display: block;
			width: 1px;
			height: 1px;
			clear: both;
		}

	}

	ul.controls {
		.list-reset;
		padding: 10px 10px 5px 10px;
		text-align: center;

		> li {
			margin: 0 5px;
			padding: 0;
			display: inline-block;
			height: 25px;
			line-height: 25px;
			vertical-align: middle;
		}

		/* Control groupings */
		li.order,
		li.skip {
			float: left;
		}

		li.like {
			> a {
				.transition( color 250ms );

				&.liked {
					color: @heartred;
				}
			}
		}

		li.volume {
			float: right;
		}

		li.volume {

			&.muted {

				.fa-volume-up {
					display: none;
				}

				.fa-volume-off {
					display: inline;
				}

				.level {
					.current {
						opacity: 0.25;
					}
				}
			}

			> a {
				display: inline-block;
				width: 17px;
				text-align: left;
			}

			.fa-volume-up {
				display: inline;
			}

			.fa-volume-off {
				display: none;
			}

			.level {
				.user-select(none);
				position: relative;
				cursor: pointer;
				display: inline-block;
				width: 100px;
				height: 20px;

				.max {
					display: block;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 20px 100px;
					border-color: transparent transparent rgba( 255, 255, 255, 0.2 ) transparent;
				}

				.current {
					display: block;
					overflow: hidden;
					position: absolute;
					z-index: 2;
					top: 0;
					left: 0;
					width: 100px;
					height: 20px;

					&:before {
						content: '';
						display:block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 0 20px 100px;
						border-color: transparent transparent white transparent;
					}
				}
			}
		}
	}

	div.item {
		padding: 0 15px 15px 15px;

		.title {
			margin: 5px 0;
			line-height: 125%;
		}

		.avatar {
			width: 15px;
			height: 15px;
		}
	}
}
