.playlist {
	margin-top: 20px;

	&.playlist--is-adding {
		form > .fa-refresh {
			display: inline-block;
		}
	}

	&.playlist--is-remote-sorting {
		.items {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	form {
		float: left;
		margin: 0 0 10px 0;

		> .fa-refresh {
			display: none;
			margin-left: 5px;
			color: @darkgray;
		}
	}

	.items {
		.list-reset;
		.transition( opacity 500ms ease );
		clear: both;
		padding-top: 10px;

		&:empty {
			text-align: center;

			&:before {
				content: 'The playlist is empty, add something to get started!';
			}
		}

		> * {
			//.animation( slidein 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94) );
			position: relative;
			clear: both;
			min-height: 58px;
			margin: 0 0 10px 0;
			padding: 0 40px 0 0;

			&.sortable-ghost {
				opacity: 0.15 !important;
			}

			h3 {
				display: inline;
				vertical-align: top;
				margin: 2px 0;
			}

			a.remove {
				position: absolute;
				top: 2px;
				right: 10px;
			}

			var.duration {
				display: inline-block;
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 0 5px;
				font-size: 75%;
				font-style: normal;
				color: rgb( 255, 255, 255 );
				background: @notblack;
			}

			span.image {
				display: inline-block;
				float: left;
				margin-right: 8px;
			}

			.user__avatar {
				width: 15px;
				height: 15px;
			}
		}
	}

	.playlist_duration {
		float: right;
		padding: 3px 4px;
		color: rgb( 255, 255, 255 );
		background: @notblack;

		> var {
			font-style: normal;
		}
	}

}
