@import 'users';
@import 'chat';
@import 'player';
@import 'playlist';
@import 'search';

#page-room {

	span.image {
		display: block;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-position: center center;

		&.youtube {
			background-size: auto 150%;
		}
	}

	#auth {
		position: absolute;
		top: 0;
		right: 0;
	}

	#app {
		width: 1000px;
		margin: 0 auto;
		padding: 20px 0 0 0;
	}

	#title {
		margin: 0;
		font-size: 24px;
		text-align: center;
	}

	#social,
	#media {
		.box-sizing(border-box);
		float: left;
	}

	#social {
		width: 340px;
		margin-right: 20px;
	}

	#media {
		width: 640px;
	}

	@media screen and (min-width: 1200px) and (min-height: 700px) {
		#app {
			width: 1180px;
		}

		#social {
			width: 420px;
			margin-right: 40px;
		}

		#media {
			width: 720px;
		}
	}

}
