<form name="playlist_add">
	<input name="url" type="text" placeholder="URL or search terms"/>
	<button type="submit">Add to Playlist <i class="fa fa-search"></i></button>
	<i class="fa fa-refresh fa-spin"></i>
</form>
<div class="playlist_duration">
	<i class="fa fa-clock-o"></i> <var class="duration"></var>
</div>
<ul class="items"></ul>