<a href="#hide" class="hide"><i class="fa fa-times"></i></a>
<form>
	<input name="query" type="text" />
	<ul class="providers">
		<li class="youtube active"><a href="#youtube">YouTube</a></li>
		<li class="soundcloud"><a href="#soundcloud">SoundCloud</a></li>
	</ul>
</form>
<ul class="results"></ul>